<html>
	<head>
		<title>buyer order history page</title>
	</head>

	<body>
		<a href="http://localhost:3000/">Close and Go to Index, Buyer Home</a> <br>
		<a href="buyer_orderDetail">History Order Detail Page</a>
	</body>
</html>