<html>
	<head>
 		<title>Item Detail</title> 
 		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
 		<link href="/css/bootstrap.css" rel="stylesheet">
 		<link href="/css/bootstrap-theme.css" rel="stylesheet">
 		<link href="/css/itemDetail.css" rel="stylesheet">

 		<!-- Use internet source for icons-->
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
 		<div class = "container">
 			<div>
 				<table>
 					<td><div class="topIcon"><i class="material-icons" style="font-size:50px;">arrow_back</i></div></td>
 					<td><h2>Close Details</h2></td>
 				</table>
 			</div>

 			<div class="details">
 			<table>
 				<td>
 					<div id="itemPic"><img src="/img/buyerMenuPic.png"></div>
 					<a>more photos ...</a>
 				</td>
 				<td>
 					<table>
					<tr>
      					<td colspan="2">
      						<a href="#"><h4 class = "item_name">Food Name Here</h4></a>
      					</td>
      					<td></td>
      				</tr>
      				<tr>
      					<td>
      						<p><Strong>Price: </strong>$5</p>
      						<p><Strong>Distance: </Strong>0.5mi</p>
      					</td>
      					<td>
      						<p><Strong>Seller Rating: </Strong>5.0</p>
      						<p><Strong>Pickup Time: </Strong>18:30</p>
      					</td>
      				</tr>
					</table>
 				</td>
 			</table>

 			<table>
 				<td>
 					<h3 class="info">- Offered by: XXX XXXXX</h3>
 				</td>
 				<td id="callAndText">
 					<i class="material-icons" style="font-size:50px;">call</i>
 					<i class="material-icons" style="font-size:50px;">textsms</i>
 				</td>
 			</table>

 			<table>
 				<td>
 					<h3 class="info">- Pickup at:</h3>
 					<p class="text">9434 Gilman Drive, UC San Diego. The small town house by the Marshall Field</p>
 				</td>
 				<td>
 					<div class="topIcon"><i class="material-icons" style="font-size:50px;">location_on</i></div>
 				</td>
 			</table>
 			<h3 class="info">- Pickup Time: xx:xx</h3>
 			<h3 class="info">- Go and Watch: Yes</h3>
 			<h3 class="info">- Description: </h3>
 			<p class="text">
 				This sdihd weu asdf aouf ahfee. efiuaf dsoufasiduf, sdijf. zzf, dfsf,dsf.
 				Hdijf dfj dsfj s fdh fj, fdsfgn fdsjj, sdnff fsf. sdjfi, dsfj, djfj, shei, sjfis asdjf.
 			</p>

 			<table>
 				<th>
 					Number of Ordering:
 				</th>
 				<td>
 					<i class="material-icons" style="font-size:50px;">chevron_left</i>
 				</td>
 				<td>
 					01
 				</td>
 				<td>
 					<i class="material-icons" style="font-size:50px;">chevron_right</i>
 				</td>
 			</table>

 			<table>
 				<td id="total">
 					TOTAL PRICE: <br>
 					<strong>$X.XX</strong>
 				</td>
 				<td>
 					<button type="button">
 						<strong>PLACE<br>ORDER</strong>
 					</button>
 				</td>
 			</table>

 			</div>

 		</div> 

 	<script src="/js/jquery-1.11.0.js"></script>
 	<script src="/js/bootstrap.js"></script>
 	<script src="/js/userHome.js"></script>
	</body>
</html>