<html>
	<head>
		<title>seller home page</title>
	</head>

	<body>
		<a href="http://localhost:3000/">Buyer Home</a> <br>
		<a href="seller_nextMenu">Edit Next Menu</a> <br>
		<a href="seller_itemDetail">Current Menu Item Detail Page</a>
	</body>
</html>