<html>
	<head>
		<title>seller next menu page</title>
	</head>

	<body>
		<a href="seller_nextDetail">next menu item detail</a> <br>
		<a href="seller_addFromHistory">add from history page</a> <br>
		<a href="seller_addFromNew">add new page</a> <br>
		<a href="seller_home">back, to seller home page</a>
	</body>
</html>