h1 {
	margin-left: 15px;
}
.topIcon {
	margin-top: 14px;
}
#topRightIconPadding {
	padding-left: 6vw;
}

h2, h3, h4, h5 {
	color: #8382BF;
}

.search {
  border: 2px solid black;
  max-width: 440px;
  max-height: 50px;
}

#myInput {
	width: 100%;
}

.items {
	max-width: 400px;
	padding: 5px;
	background-color: tan;
	margin: 20px;
}

.items img {
	width: 100px;
}

